<html>
	<head>
		<title>Food List</title>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/assets/food-list.js"></script>
	</head>
	<body>
		<h1 id="heading">Add Hotels & Items</h1>
		<br><br><br><br>
			<div id="item-table">
				<form id="hotel">
					<input type="text" id="name"  placeholder="Add new hotel name..." required />
					<input type="text" id="image"  placeholder="Add new hotel image..." required />
					<input type="text" id="location"   placeholder="Add new hotel location..." required />
					<input type="text" id="mobile"  placeholder="Add new hotel mobile..." required />
					<input type="text" id="food_name"   placeholder="Add new food name..." required />
					<input type="text" id="food_price"   placeholder="Add new food price..." required />
					<input type="text" id="food_image"  placeholder="Add new food image..." required />
					<button type="submit" value="button1" class="accept-button"> Add Hotel </button>
					<button type="submit" value="button2" class="pickup-button"> Add Item </button>
				</form>
			</div>
	</body>
</html>
