<html>
	<head>
		<title>User Entry</title>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/assets/food-list.js"></script>
	</head>
	<body>
		<h1>User Entry</h1>
		<div id="food-table">
			<form id="user">
				<input type="text" id="name"  placeholder="Add new user name..." required />
				<input type="text" id="address"   placeholder="Add new user address..." required />
				<input type="text" id="mobile"  placeholder="Add new user mobile..." required />
				<button type="submit">Add User</button>
			</form>
		</div>
	</body>
</html>
