
body{
    background: #171616;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

#heading{
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
    font-size: 20px;
    color: #0CD1E8
}

p{
    padding-right: 20px;
    padding-top: 20px;
    float: right;
    font-size: 15px;
    color: #ffffff
}

#food-table{
    position: relative;
    background: #0D0E0E;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#food-table-red{
    position: relative;
    background: #49020A;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#food-table-green{
    position: relative;
    background: #02490D;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#food-table-grey{
    position: relative;
    background: #23282e;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#item-table{
    position: relative;
    border-radius: 16px;
    background: #000000;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#food-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
}

.cancel-button{
    padding: 8px;
    float: right;
    margin-right: 10px;
    border: 0px;
    background: #49020A;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

.accept-button{
    padding: 8px;
    float: right;
    margin-right: 10px;
    border: 0px;
    background: #02490D;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

.pickup-button{
    padding: 8px;
    float: right;
    margin-right: 10px;
    border: 0px;
    background: #23282e;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

/*#food-table:hover{
    background: #49020A;
}*/


